* {
    padding: 0;
    margin: 0;
}

body {
    font: $small-font $font;
    color: $white;
    position: relative;
    background: darken($second-color, 15%) url(../img/nebula_dot-m.jpg) center center no-repeat;
    background-size: cover;
    
    .dot-m-container {
        min-height: 500px;
    }
    
    h1,h2,h3,h4,h5 {
        color: $default-color;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    
    a {
        text-decoration: none;
        color: $white;
        transition: all 200ms ease-in-out;
    }
    
    a:hover,
    a:focus {
        text-decoration: none;
        color: $default-color;
    }
}