/* Sound Cloud Styles */

#sound-cloud {
    -webkit-box-shadow: 9px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 15px 0px rgba(0,0,0,0.75);
    background-color: transparentize(darken($default-color, 20%), .40);
    min-height: 300px;
    margin: 50px auto;
    padding: 20px;
    
    
    iframe {
        background-color: $second-color;
    }
}